<h1>Nessa's TODO list</h1>

<h3>On-going tasks</h3>
<% if @active_items.length > 0 %>
  <% @active_items.each do |item| %>
      <%= item.name %><br>
      Estimated time to complete: <%= item.duration %><br/> hours
      Due: <%= display_date(item.deadline) %>
  <% end %>
<% else %>
  <p>No item in this list</p>
<% end %>

<h3>Add new item</h3>
<%= render "new" %>

<h3>Backlog</h3>
<% if @queued_items.length > 0 %>
  <% @queued_items.each do |item| %>
    <%= item.name %>
    <%= display_date(item.deadline) %>
  <% end %>
<% else %>
  <p>No item in this list</p>
<% end %>

<h3>Done</h3>
<% if @active_items.length > 0 %>
  <% @done_items.each do |item| %>
    <%= item.name %>
    <%= display_date(item.completed_at) %>
  <% end %>
<% else %>
  <p>No item in this list</p>
<% end %>
